$fancy-font: 'Dancing Script', monospace;

.header {
    background: url("/assets/images/cover.jpeg") no-repeat center 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.display-4 {
    font-weight: 500;
    font-family: $fancy-font;
    text-shadow: 0px 0px 0.3em #000000;
}