---
#
---

@charset "utf-8";

// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;


@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

$primary: #FF91A4;

@import "bootstrap/bootstrap";

@import "style", "custom";
